.center {
	text-align: center;
}
.container {
	border-radius: 10px;
}
#end-of-game {
	color: #FF1300;
	display: none;
	font-weight: bold;
	margin-top: 150px;
}
.footer {
	border-top: 1px solid #DDD;
	border-bottom: 0;
	bottom: 0;
	color: #929292;
	font-size: 11px;
	height: 49px;
	padding-top: 5px;
  position: absolute;
	width: 100%;
}
.footer .col-xs-4.active {
	color: #333;
}
.footer i {
	font-size: 24px;
}
#game-zone-header {
	background: #F9F9F9;
	display: none;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1738;
}
h1 {
	font-family: arial-black;
}
#home {
	margin-top: 1.8em;
}
#leaderboards-container, #info-container {
	display: none;
}
#scoreTitle, #livesTitle {
	color: #BDBEC2;
}
#score {
	color: #FF1300;
	font-size: 5em;
	font-weight: bold;
}
.segmented-control {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: table;
	font-size: 12px;
	font-weight: 400;
	overflow: hidden;
	position: relative;
}
.segmented-control .control-item {
	border-left: 1px solid #CCC;
	color: #333;
	display: table-cell;
	padding-top: 6px;
	padding-bottom: 7px;
	line-height: 1;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	width: 1%;
	white-space: nowrap;
}
.segmented-control .control-item:first-child {
	border-left-width: 0;
}
.segmented-control .control-item.active {
	background-color: #CCC;
}
#lives {
	color: #FF1300;
	font-size: 5em;
}
